* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    color: black;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

header li, a {
    display: inline;
    padding: 5px;
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    font-size: large;
    transition-duration: 0.5s;
}

.articles article img:hover {
    border-radius: 50px;
    transition-duration: 1s;
}

.articles article a:hover {
    border-radius: 25px;
    transition-duration: 1s;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > header {
    display: flex;
    background-color: black;
    color: white;
    padding: 20px;
}

header h2 {
    margin: 10px 0 5px 0;
    font-size: 20p;
}

header h3 {
    margin: 10px 0 5px 0;
    font-size: 25px;
}

#economy {
    background-color: rgba(215, 255, 215, 0.1);
}

#tecnology {
    background-color: rgba(215, 226, 255, 0.1);
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 600px;
    border-radius: 10px;
}

.articles article {
    width: 45%;
}

.articles a {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.foot {
    background-color: black;
    color: white;
    padding: 10px;
}

#footer_ {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.foot #footer_:active {
    display: none;
}