* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > header {
    background-color: black;
    color: white;
    padding: 10px;
}

header li {
    display: inline;
    margin-right: 10px;
}

header a {
    text-decoration: none;
    color: white;
}

.container h2, h3 {
    padding-top: 10px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.articles article {
    width: 30%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.articles a {
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    text-decoration: none;
    background-color: black;
    color: white;
}

.container a:hover {
    text-decoration: underline;
    padding: 10px;
    transition-duration: 0.5s;
}

#sports {
    background-color: rgba(255, 0, 0, 0.05);
}

#economy {
    background-color: rgba(15, 155, 250, 0.05);
}

#tecnology {
    background-color: rgba(15, 155, 25, 0.05);
}

#foot {
    background-color: black;
    color: white;
}

#foot .container {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}