* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > header {
    background-color: black;
    color: white;
    padding: 10px;
}

header li {
    display: inline;
    text-decoration: none;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 45%;
}